Repository prommis/prommis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbianchi-lbl, @ksbeattie, @agarciadiego, @andrewlee94, @mollydougher, @jinliangma, @Lingyan90, @ArkoprabhoDasgupta, @MarcusHolly, @bpaul4

started to get icons to work
  src/prommis/conn/connectivity.py
  src/prommis/conn/excalidraw_model.py
Owners: none

start mapping to svg
  src/prommis/conn/connectivity.py
Owners: none

NPV Loan Repayment (#97)
  src/prommis/uky/costing/ree_plant_capcost.py
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

Move idaes-flowsheet-processor to optional dependencies target
  pyproject.toml
  requirements-dev.txt
Owners: @lbianchi-lbl

Update requirement to test watertap-org/watertap#1541
  pyproject.toml
Owners: @lbianchi-lbl

Add UKy flowsheet entry point for idaes-flowsheet-processor compat
  pyproject.toml
Owners: @lbianchi-lbl

Enable idaes-flowsheets in pytest run
  .github/workflows/core.yml
Owners: @lbianchi-lbl

Update requirements for idaes-pse and watertap for IDAES 2.7.0
  pyproject.toml
Owners: @lbianchi-lbl

Only enable idaes-flowsheet plugin where idaes-flowsheet-processor is installed
  .github/workflows/core.yml
Owners: @lbianchi-lbl

Update imports for idaes-flowsheet-processor
  requirements-dev.txt
  src/prommis/uky/uky_flowsheet_ui.py
Owners: @lbianchi-lbl, @MarcusHolly

cut up watertap tests to make debugging easier
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

debug for CAPEX checks
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

run black
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

condense CAPEX tests, clean up
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

update nfzo results from changed dye desal parameters
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

correct total fixed OM cost result
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

Update watertap requirement to 1.2.0rc0
  pyproject.toml
Owners: @lbianchi-lbl

Remove redundant python_version markers
  requirements-dev.txt
Owners: @lbianchi-lbl

Update requirements for idaes-pse and watertap for IDAES 2.7.0 (#108)
  .github/workflows/core.yml
  pyproject.toml
  requirements-dev.txt
  src/prommis/uky/costing/tests/test_ree_costing.py
  src/prommis/uky/uky_flowsheet_ui.py
Owners: @lbianchi-lbl, @bpaul4, @MarcusHolly

framework for images
  src/prommis/conn/excalidraw_model.py
Owners: none

images and text
  src/prommis/conn/excalidraw_model.py
Owners: none

comment out lines regarding watertap variable opex
  src/prommis/uky/costing/ree_plant_capcost.py
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

updated tests, better lines
  src/prommis/conn/excalidraw_model.py
  src/prommis/conn/tests/connectivity_data.py
Owners: none

put image text below
  src/prommis/conn/excalidraw_model.py
Owners: none

.github/CODEOWNERS:

/.github/ @lbianchi-lbl
/.readthedocs.yml @lbianchi-lbl
/pyproject.toml @lbianchi-lbl
/requirements-dev.txt @lbianchi-lbl
/codecov.yml @lbianchi-lbl

/.addheader.yml @ksbeattie
/COPYRIGHT.md @ksbeattie
/LICENSE.md @ksbeattie
/copyright_header.txt @ksbeattie

/docs/ @agarciadiego @lbianchi-lbl
/README.md @agarciadiego @lbianchi-lbl

/src/prommis/_sphinx_extensions/ @lbianchi-lbl
/src/prommis/_testing_utils/ @lbianchi-lbl

**/conftest.py @lbianchi-lbl

/src/prommis/evaporation_pond/ @andrewlee94
/src/prommis/leaching/ @andrewlee94
/src/prommis/nanofiltration/ @mollydougher
/src/prommis/precipitate/ @agarciadiego
/src/prommis/roasting/ @jinliangma 
/src/prommis/solid_handling/ @Lingyan90
/src/prommis/solvent_extraction/ @ArkoprabhoDasgupta

/src/prommis/uky/ @MarcusHolly
/src/prommis/uky/costing/ @bpaul4
