Repository prommis/prommis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sufikaur, @ksbeattie, @agarciadiego, @lbianchi-lbl, @andrewlee94, @mollydougher, @jinliangma, @Lingyan90, @ArkoprabhoDasgupta, @MarcusHolly, @bpaul4

.github/CODEOWNERS:

/.github/ @sufikaur
/.readthedocs.yml @sufikaur
/pyproject.toml @sufikaur
/requirements-dev.txt @sufikaur
/codecov.yml @sufikaur

/.addheader.yml @ksbeattie
/COPYRIGHT.md @ksbeattie
/LICENSE.md @ksbeattie
/copyright_header.txt @ksbeattie

/docs/ @agarciadiego @sufikaur
/README.md @agarciadiego @sufikaur

/src/prommis/_sphinx_extensions/ @sufikaur @ksbeattie
/src/prommis/_testing_utils/ @sufikaur @ksbeattie

**/conftest.py @lbianchi-lbl

/src/prommis/evaporation_pond/ @andrewlee94
/src/prommis/leaching/ @andrewlee94
/src/prommis/nanofiltration/ @mollydougher
/src/prommis/precipitate/ @agarciadiego
/src/prommis/roasting/ @jinliangma 
/src/prommis/solid_handling/ @Lingyan90
/src/prommis/solvent_extraction/ @ArkoprabhoDasgupta

/src/prommis/uky/ @MarcusHolly
/src/prommis/uky/costing/ @bpaul4

fix example check on sales revenue value
  docs/tutorials/costing_uky_flowsheet-solution.ipynb
Owners: @agarciadiego, @sufikaur

smoke test print methods to boost code coverage
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

sort imports on changed test file
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

add code cov doc and refer to it in pytest-ini
  .coveragerc
  pyproject.toml
Owners: @sufikaur

update retentate product stage
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

added Li & Co recovery fraction to print
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

removed sieving bounds
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

updated test file with updated optimization results
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

merged main to this branch
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

added links, added product recovery rate, removed sieving constraints, updated results based on updated optimization file
  docs/tutorials/diafiltration_flowsheet_optimization_tutorial-solution.ipynb
Owners: @agarciadiego, @sufikaur

temporarily remove precipitator dimension bounds
  src/prommis/nanofiltration/costing/diafiltration_cost_model.py
Owners: @mollydougher

move the costing blocks to flowsheet model
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/initialized_model_stage_3_10
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
Owners: @mollydougher

add tests for simple and default costing
  src/prommis/nanofiltration/membrane_cascade_flowsheet/tests/test_flowsheet.py
Owners: @mollydougher

replace bare exceptions with `ValueError`
  src/prommis/nanofiltration/membrane_cascade_flowsheet/utils.py
Owners: @mollydougher

added tests to ensure variables are scaled to within 1e-2 to 1e2.
  src/prommis/superstructure/tests/test_superstructure_function.py
Owners: none

modified TestEnvironmentalImpacts tests to check for specific values.
  src/prommis/superstructure/tests/test_superstructure_function.py
Owners: none

updated tests for report_superstructure_results to take real model instead of mock model.
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

sorted imports
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

got rid of unnecessary imports.
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

sorted imports
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

used typing library to automatically check for types of variables.
  src/prommis/superstructure/check_superstructure_inputs.py
  src/prommis/superstructure/tests/test_check_superstructure_inputs.py
Owners: none

changed tests for report_superstructure_results to use output from real model instead of using a mock model.
  src/prommis/superstructure/report_superstructure_results.py
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

sorted imports.
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

got rid of unused imports.
  src/prommis/superstructure/tests/test_report_superstructure_results.py
Owners: none

edited documentation to include inputs and class documentation.
  docs/superstructure/superstructure_function_documentation.rst
  src/prommis/superstructure/superstructure_function.py
Owners: @agarciadiego, @sufikaur

updated documentation.
  docs/superstructure/superstructure_function_documentation.rst
  src/prommis/superstructure/report_superstructure_results.py
  src/prommis/superstructure/superstructure_function.py
Owners: @agarciadiego, @sufikaur

formatting.
  src/prommis/superstructure/report_superstructure_results.py
  src/prommis/superstructure/superstructure_function.py
Owners: none

fixed typo.
  docs/superstructure/superstructure_function_documentation.rst
Owners: @agarciadiego, @sufikaur

formatting.
  src/prommis/superstructure/superstructure_function.py
Owners: none

move main code to main method and add smoke test
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

replace bare Exceptions, run isort, black
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
Owners: @bpaul4

Flowsheet Cost Optimization Example (#180)
  docs/tutorials/costing_uky_flowsheet-solution.ipynb
  src/prommis/nanofiltration/diafiltration.py
  src/prommis/uky/costing/diafiltration_flowsheet_optimization_example.py
  src/prommis/uky/costing/ree_plant_capcost.py
  src/prommis/uky/costing/tests/test_determine_byproduct_recovery.py
  src/prommis/uky/costing/tests/test_diafiltration_flowsheet_optimization_example.py
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @agarciadiego, @sufikaur, @mollydougher, @bpaul4
