Repository prommis/prommis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lbianchi-lbl, @ksbeattie, @agarciadiego, @andrewlee94, @mollydougher, @jinliangma, @Lingyan90, @ArkoprabhoDasgupta, @MarcusHolly, @bpaul4

.github/CODEOWNERS:

/.github/ @lbianchi-lbl
/.readthedocs.yml @lbianchi-lbl
/pyproject.toml @lbianchi-lbl
/requirements-dev.txt @lbianchi-lbl
/codecov.yml @lbianchi-lbl

/.addheader.yml @ksbeattie
/COPYRIGHT.md @ksbeattie
/LICENSE.md @ksbeattie
/copyright_header.txt @ksbeattie

/docs/ @agarciadiego @lbianchi-lbl
/README.md @agarciadiego @lbianchi-lbl

/src/prommis/_sphinx_extensions/ @lbianchi-lbl
/src/prommis/_testing_utils/ @lbianchi-lbl

**/conftest.py @lbianchi-lbl

/src/prommis/evaporation_pond/ @andrewlee94
/src/prommis/leaching/ @andrewlee94
/src/prommis/nanofiltration/ @mollydougher
/src/prommis/precipitate/ @agarciadiego
/src/prommis/roasting/ @jinliangma 
/src/prommis/solid_handling/ @Lingyan90
/src/prommis/solvent_extraction/ @ArkoprabhoDasgupta

/src/prommis/uky/ @MarcusHolly
/src/prommis/uky/costing/ @bpaul4

run black again
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

Update `mass_solute` to `flow_mass_solute`
  src/prommis/nanofiltration/membrane_cascade_flowsheet/README.md
Owners: @mollydougher

moved superstructure costing workflow from workspace
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/initialized_model_3stages_10tubes
  src/prommis/nanofiltration/membrane_cascade_flowsheet/membrane.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/precipitator.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solute_property.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
Owners: @mollydougher

Deleted outdated comments
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/membrane.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/precipitator.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/utils.py
Owners: @mollydougher

Added PrOMMiS header to all files
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/membrane.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/precipitator.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solute_property.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/utils.py
Owners: @mollydougher

Add density, mass_solute to flow_mass_solute
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/membrane.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/precipitator.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solute_property.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/utils.py
Owners: @mollydougher

Swapped pyomo.environ as pyo for specific imports
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/membrane.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/precipitator.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solute_property.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/utils.py
Owners: @mollydougher

Clarified model inputs, removed multi-ion example
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
  src/prommis/nanofiltration/membrane_cascade_flowsheet/solve_diafiltration.py
Owners: @mollydougher

Update UKy tutorial with SX Initializer based on PR#85
  docs/tutorials/uky_flowsheet-solution.ipynb
  docs/tutorials/uky_flowsheet.png
Owners: @agarciadiego, @lbianchi-lbl

Run black
  docs/tutorials/uky_flowsheet-solution.ipynb
Owners: @agarciadiego, @lbianchi-lbl

Update SXInitializer to reduce volume of warnings in UKy flowsheet
  docs/tutorials/uky_flowsheet-solution.ipynb
  src/prommis/solvent_extraction/solvent_extraction.py
Owners: @agarciadiego, @lbianchi-lbl, @ArkoprabhoDasgupta

idaes header removed
  src/prommis/solvent_extraction/solvent_extraction.py
Owners: @ArkoprabhoDasgupta

flowsheet initializer checking
  docs/tutorials/uky_flowsheet-solution.ipynb
  src/prommis/uky/uky_flowsheet.py
Owners: @agarciadiego, @lbianchi-lbl, @MarcusHolly

flowsheet initializer rectified
  src/prommis/uky/uky_flowsheet.py
Owners: @MarcusHolly

Add TO-DO note for SXInitializer
  src/prommis/uky/uky_flowsheet.py
Owners: @MarcusHolly

Run black
  src/prommis/uky/uky_flowsheet.py
Owners: @MarcusHolly

bugfix csv parse
  src/prommis/conn/connectivity.py
Owners: none

remove debug cra
  src/prommis/conn/connectivity.py
Owners: none

Added model scaling.
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
Owners: @mollydougher

Removed `mixing` from initialize_precipitators
  src/prommis/nanofiltration/membrane_cascade_flowsheet/diafiltration_flowsheet_model.py
Owners: @mollydougher

prommis header added to pytest file
  src/prommis/solvent_extraction/sx_model_flowsheet_dynamic.py
  src/prommis/solvent_extraction/tests/test_sx_model_dynamic.py
Owners: @ArkoprabhoDasgupta

The 1000 capitalizations of dr. prommis
  docs/getting_started.md
Owners: @agarciadiego, @lbianchi-lbl

typos and minor wording
  docs/getting_started.md
Owners: @agarciadiego, @lbianchi-lbl

phrasing, people
  docs/getting_started.md
Owners: @agarciadiego, @lbianchi-lbl

Update requirements for idaes-pse and watertap for IDAES 2.7.0
  pyproject.toml
Owners: @lbianchi-lbl

Update imports for idaes-flowsheet-processor
  requirements-dev.txt
  src/prommis/uky/uky_flowsheet_ui.py
Owners: @lbianchi-lbl, @MarcusHolly

fix tests, better logic for parsing values
  src/prommis/conn/connectivity.py
  src/prommis/conn/tests/connectivity_data.py
  src/prommis/conn/tests/test_connectivity.py
Owners: none

formatting
  src/prommis/conn/tests/connectivity_data.py
Owners: none

refactor and WIP for excalidraw from SVG
  src/prommis/conn/connectivity.py
  src/prommis/conn/excalidraw_model.py
Owners: none

got text looking ok
  src/prommis/conn/excalidraw_model.py
Owners: none

consolidate loan interest formula to ratio form
  src/prommis/uky/costing/ree_plant_capcost.py
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4

Update setuptools_scm config
  .github/actions/install/action.yml
  pyproject.toml
Owners: @lbianchi-lbl

Move idaes-flowsheet-processor to optional dependencies target
  pyproject.toml
  requirements-dev.txt
Owners: @lbianchi-lbl

Enable idaes-flowsheets in pytest run
  .github/workflows/core.yml
Owners: @lbianchi-lbl

Update requirements for idaes-pse and watertap for IDAES 2.7.0
  pyproject.toml
Owners: @lbianchi-lbl

Update imports for idaes-flowsheet-processor
  requirements-dev.txt
  src/prommis/uky/uky_flowsheet_ui.py
Owners: @lbianchi-lbl, @MarcusHolly

Add UKy flowsheet entry point for idaes-flowsheet-processor compat
  pyproject.toml
Owners: @lbianchi-lbl

Only enable idaes-flowsheet plugin where idaes-flowsheet-processor is installed
  .github/workflows/core.yml
Owners: @lbianchi-lbl

fixed unit inconsistency; added DiagnosticToolbox to test
  src/prommis/nanofiltration/costing/diafiltration_cost_model.py
  src/prommis/nanofiltration/costing/tests/test_diafiltration_cost_model.py
Owners: @mollydougher

update watertap costing tests for new nfzo variable names
  src/prommis/uky/costing/tests/test_ree_costing.py
Owners: @bpaul4
